version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    depends_on:
      - db
      - redis
      - minio
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/staticfiles

  db:
    image: postgres
    container_name: mypostgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  redis:
    image: redis
    container_name: myredis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  minio:
    image: quay.io/minio/minio
    container_name: myminio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9002:9000" # 9000번 포트는 이미 code-server에서 사용 중이므로 호스트 교체
      - "9001:9001" # 호스트 교체
    volumes:
      - minio_data:/data
      - minio_config:/root/.minio

volumes:
  postgres_data:
  redis_data:
  minio_data:
  minio_config:
  static_volume:
