/* static/css/userprofile.css */
.container-update-form {
    width: 100%;
    max-width: 400px; /* 폼의 최대 너비 설정 */
    margin: 50px auto; /* 상하 마진으로 중앙 정렬 */
    padding: 20px;
    background-color: var(--background-color-widget);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.mb-3 {
    margin-bottom: 1.5rem; /* 아래쪽 여백 추가 */
}

.profile-preview {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0.8rem 0 0.8rem 0;
    object-fit: cover;
}

/* 레이블 스타일 */
label {
    display: block; /* 블록 요소로 만들어 줄바꿈 */
    margin-bottom: 0.5rem;
    font-weight: 500;
}

/* 입력 필드 스타일 */
.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
    font-size: 1rem;
    background-color: var(--background-color-widget);
    color: var(--text-color);
    border-color: var(--color-border);
    transition: 
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease,
        transform 0.3s ease; /* 부드럽게 */
}

.form-control:focus {
    border-color: var(--color-primary); /* 포커스 시 색상 변경 */
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transform: scale(1.02);
}

.form-control-img {
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-color-widget);
    color: var(--text-color);
    border-color: var(--color-border);
    transition: 
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease,
        transform 0.3s ease; /* 부드럽게 */
}

 .custom-file-label {
    display: flex;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: var(--button-radius);
    cursor: pointer;
    transition: background-color 0.2s;
    width: fit-content;
  }

  .custom-file-label:hover {
    background-color: var(--color-primary-hover);
  }

  input[type="file"] {
    display: none;
  }

.form-control-img:focus {
    border-color: var(--color-primary); /* 포커스 시 색상 변경 */
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transform: scale(1.02);
}

.mb-3-email-input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mb-3-email-input-group .form-control {
  width: 45%;
}

.at-symbol {
  font-weight: bold;
}

/* 입력란 밑 설명 텍스트 */
.input-help {
    display: block;        
    font-size: 0.85rem;  
    color: var(--color-gray-500);        
    margin-top: 4px;      
}

/* 버튼 스타일 */
.btn {
    display: block; /* 버튼을 블록 요소로 만들어 너비 100% */
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}