{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://challenges.cloudflare.com">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block title %}로그인{% endblock %}

{% block content %}
<div class="container-login-form">
    <h2 class="text-center">로그인</h2>
    <form method="post" action={% url 'login' %}?next={{ request.GET.next }}>
        {% csrf_token %}
        {% include "main/form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <a class="nav-register" href="{% url 'showregister' %}">회원가입</a>
        <!-- Google 로그인 버튼 -->
        <!-- https://developers.google.com/identity/gsi/web/reference/html-reference?hl=ko#data-theme -->
        <div class="g_id_container">
            <div id="g_id_onload"
                data-client_id="{{ GOOGLE_CLIENT_ID }}"
                data-context="signin"
                data-ux_mode="redirect"
                data-login_uri="https://blog.hyuneon.org/auth/google/callback/"
                data-itp_support="true"
                data-use_fedcm_for_button="true">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangle"
                data-theme="filled_blue"
                data-text="signin_with"
                data-size="large"
                data-width=280
                data-logo_alignment="left">
            </div>
        </div>
        <div class="cf-turnstile" data-sitekey="{{ TURNSTILE_SITE_KEY }}" data-theme="light" data-size="flexible"></div>
    </form>
</div>
{% endblock %}