<!-- TODO: 블로그 전체를 보여줄 수 있도록 UI 추가 -->
{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock %}

{% block title %}메인 페이지{% endblock %}

{% block content %}
<div class="container-main-views">
    <div class="mainpage-header-new-blogs">
        <h2 class="explore-other-blog-h2">새로운 블로거들을 만나보세요!</h2>
        {% if not bloglist %}
        <span class="blog-list-no-blog"> 아직 등록된 블로그가 없네요 😢</span>
        {% endif %}
    </div>
   <ul class="blog-list-container">
        {% for blog in bloglist %}
        <li class="blog-card">
            <a class="blog-title" href="{% url 'showblog' blog_slug=blog.slug %}">
                {{ blog.blog_title }}
            </a>
            <div class="blog-meta">
                ✍️ 블로거: {{ blog.blog_user.nickname }} <br>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
<script src="{% static 'js/mainpage.js' %}"></script>
{% endblock %} 