<!DOCTYPE html>
<!-- static 파일에 있는 모든 리소스를 불러옴 -->
<!-- todo: 포스트 뷰 페이지에서 리스트로 보여주는 형태가 아닌 메인 페이지에서 포스트를 클릭 시 포스트룰 로드하도록 분리 -->
<!-- div id = 이 페이지에서 한 번만 사용 가능, div class= 재사용 가능-->
{% load static %} 
<html>
<head>
    <title>포스트 자세히 보기</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/postdetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/postcomment.css' %}">
</head>
<body>
    <header>
        <div class="header_title">
            <a class= "blog-title-header" name="blog-title" href="{% url 'post_list' %}">블로그</a>
        </div>
    </header>
    <div id= "postdetail_mainwidget">
        <div id= "postwidget">
            <div id= "postlist">
                <div>
                    <h3>{{ category.category_name }}</h3>
                    <posttitle>
                        <p>{{ post.post_title }}</p>
                    </posttitle>
                    <div class="updatedeletebtn_widget">
                        <p style="margin-right:auto">{{ post.post_date }}</p>
                        <div>
                            <button name="editbutton" type="button" onclick="window.location.replace('{% url 'edit_post' post.post_id %}')">✏️ 수정</button>
                        </div>
                        <div style="padding-left: 0.5%">
                            <form method="post" action="{% url 'delete_post' post.post_id %}" onsubmit="return confirmDelete()">
                                {% csrf_token %}
                                <button type="submit" name="deletebutton">❌ 삭제</button>
                            </form>
                        </div>                        
                    </div>
                    <hr>
                </div>
                <div>
                    {{ post.post_contents | safe}}
                </div>
            </div>
        </div>
        <div class="postcommentwidget">
            <h2 style = "padding-left: 3%">댓글</h2>
            {% for comment in comments%}
            <div class="postcommentlist">
                {% if comment.comment_isreply %}
                <div class="postcommentlist_depth">
                    ↘️ <span>{{ comment.comment_editor_uid }}</span>
                    &nbsp; : &nbsp;
                    <span>{{ comment.comment_contents }}</span>
                    {% if not comment.comment_isdelete %}
                        <span class = "comment_replytext" onclick="activateReplyWidget(event)">답글</span>
                    {% endif %}
                    </div>
                    {% if not comment.comment_isdelete %}
                    <div class="commentmenu_bar">
                        <span class = "comment_editicon">✏️</span>
                        <form action ="{% url 'deletecomment' post.post_id comment.comment_id %}" onsubmit="return confirmDelete()" method="post">
                            {% csrf_token %}
                            <button type="submit" class="comment_deleteicon" style="background: none; border: none; color: inherit; cursor: pointer;">🗑️</button>
                        </form>
                    </div>
                    {% endif %}
                {% else %}
                <div class="postcomment_normal">
                    <span>{{ comment.comment_editor_uid }}</span>
                    &nbsp;:&nbsp;
                    <span>{{ comment.comment_contents }}</span>
                    {% if not comment.comment_isdelete %}
                        <span class = "comment_replytext" onclick="activateReplyWidget(event)">답글</span>
                    {% endif %}
                </div>
                    {% if not comment.comment_isdelete %}
                <div class="commentmenu_bar">
                    <span class = "comment_editicon">✏️</span>
                    <form action ="{% url 'deletecomment' post.post_id comment.comment_id %}" onsubmit="return confirmDelete()" method="post">
                        {% csrf_token %}
                        <button type="submit" class="comment_deleteicon" style="background: none; border: none; color: inherit; cursor: pointer;">🗑️</button>
                    </form>
                </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="postcommentinput">
                <!-- 아닛! 보통 버튼에 유효성 검사 로직을 넣었는데 폼에도 넣을 수 있었다 -->
                <form action="{% url 'createcomment' post.post_id %}" name="createcommentform" class="postcommentinputwidget" method="post" onsubmit="return validationcomment('normal')">
                    {% csrf_token %}
                    <textarea class= "postcommenttextarea" name="comment_contents" placeholder="댓글을 입력해주세요"></textarea>
                    <button type="submit" name="commentapplybutton">작성</button>
                </form>
            </div>
            <div class="postreplytinput" style="display: none;">
                <form action="{% url 'createreplycomment' post.post_id 0 %}" name="createreplycommentform" class="postcommentinputwidget" method="post" onsubmit="return validationcomment('reply')">
                    {% csrf_token %}
                    <textarea class= "postcommentreplytextarea" name="comment_contents" placeholder="답글을 입력해주세요"></textarea>
                    <button type="submit" name="commentreplyapplybutton">작성</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/postdetail.js' %}" type="text/javascript">
    </script>
    <footer>
        <div>
            푸터
        </div>
    </footer>
</body>
</html>
