/* static/css/login.css */

.container-login-form {
    width: 100%;
    max-width: 280px; /* 폼의 최대 너비 설정 */
    margin: 50px auto; /* 상하 마진으로 중앙 정렬 */
    padding: 30px;
    background-color: var(--background-color-widget);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 폼 그룹 (label + input) */
.mb-3 {
    margin-bottom: 1.5rem; /* 아래쪽 여백 추가 */
}

/* 레이블 스타일 */
label {
    display: block; /* 블록 요소로 만들어 줄바꿈 */
    margin-bottom: 0.5rem;
    font-weight: 500;
}

/* 입력 필드 스타일 */
.form-control {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color-widget);
    transition: 
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease,
        transform 0.3s ease; /* 부드럽게 */
}

.form-control:focus {
    border-color: #007bff; /* 포커스 시 색상 변경 */
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transform: scale(1.02); /* 와.. 이거 강조 효과도 주고 진짜 좋은 것 같다.. 스케일 살짝 크게해서 확대 효과 줌 */
}

/* 버튼 스타일 */
.btn {
    display: block; /* 버튼을 블록 요소로 만들어 너비 100% */
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

.cf-turnstile {
    margin-top: 15px;
}

.g_id_container{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.nav-register {
    display: block;
    padding: 0.75rem;
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--text-special-color);
    background-color: var(--color-secondary);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.nav-register:hover {
    background-color: var(--color-secondary-hover);
}

/* 데스크탑 사이즈인 경우 정의: 예전에는 데스크탑 퍼스트로 정의하는 방법을 사용했으나, 오버라이드가 많고 관리가 힘들어 요즘엔 모바일 퍼스트를 많이 사용한다고 함. */
@media (min-width: 768px) {
  .container-login-form {
        width: 100%;
        max-width: 350px;
    }
}