/* notification.css */
.notification-content {
    width:100%;
}

.label-notif-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.label-notif-container label {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--color-gray-400);
}

.notif-item {
    background: var(--background-color-widget);
    padding: 8px 16px;
}

.notif-link {
    text-decoration: none; 
    color: var(--text-color);
}

.notif-itme-close-btn {
    float: right; 
    border: none; 
    background-color: var(--background-color-widget);
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.notif-item-none {
    display: flex;
    justify-Content: center;
    align-Items: center;
    padding: 10px;
    background: var(--background-color-widget);
    width: 100%;
    height: 40px;
    box-Sizing: border-box;
}

.notif-all-read-btn {
    margin: 0.5rem;
    float: right;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: var(--button-radius);
    background-color: var(--background-color-widget);
    cursor: pointer;
    color: var(--text-color);
    transition: background-color 0.25s;
}

.notif-all-read-btn:hover {
    background-color: rgba(var(--primary-rgb), 0.055);
}