@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_TitleV';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/TitleV.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

a[name="link_postdetail"] {
    color: inherit;
    text-decoration: none;
}

#postdetail_mainwidget {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 80%;
    margin-top: 5%;
    padding: 0.5%;
    padding-bottom: 10%;
    min-height: calc(100vh - 30px);
}

.updatedeletebtn_widget {
    display: flex;
    align-items: center;
}

button[name="editbutton"] {
    background-color: rgb(90, 171, 238);
}

button[name="editbutton"]:hover { 
    background-color: rgb(79, 151, 209);
}

button[name="deletebutton"] {
    background-color: rgb(90, 171, 238);
}

button[name="deletebutton"]:hover { 
    background-color: rgb(79, 151, 209);
}

button[name="editbutton"] {
    margin-top: 0.5%;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    font-family: Gyeonggi_Title_Light;
    font-size: 17px;
}

button[name="deletebutton"] {
    margin-top: 0.5%;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    font-family: Gyeonggi_Title_Light;
    font-size: 17px;
}