@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_TitleV';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/TitleV.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Gyeonggi_Title_Light';
    background-color: #F6F7F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.5%;
    top: 0;
    width: 70%;
    background-color: #F6F7F9;
    position: fixed;
    text-align: center;
    font-size: 30px;
}

footer {
    height: 30px;
}

#mainwidget {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 5%;
    padding: 0.5%;
    min-height: calc(100vh - 30px);
}

input[name="post_searchbox"] {
    width: 100%;
    font-size: 13px;
    font-family: 'Gyeonggi_Title_Light';
    background-color: transparent;
    border: none;
    border-radius: 15px;
}

input[name="post_searchbox"]:hover, 
input[name="post_searchbox"]:focus { 
    outline: none; /* 파란색 강조 표시 제거 */ 
    box-shadow: none; /* 그림자 제거 (옵션) */
}

a { /* 임시로 a 옵션을 이렇게 해놨는데 나중에 id로 분리할 것 */
    color: inherit;
    text-decoration: none;
}

posttitle {
    font-family: 'Gyeonggi_Title_Medium';
    font-size: 30px;
    font-weight: 300;
}

button[name="postbutton"] {
    margin-top: 0.5%;
    border-radius: 10px;
    border: 1px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    font-family: Gyeonggi_Title_Light;
    font-size: 17px;
}

button[name="searchbtn"] { 
    width: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

button[name="postbutton"] {
    background-color: rgb(90, 171, 238);
}

button[name="postbutton"]:hover { 
    background-color: rgb(79, 151, 209);
}

.searchbox_bar {
    display: flex;
    border-radius: 15px;
    background-color: white;
}

.header_title {
    margin-right: auto;
    padding-left: 9%;
}

#postbtnbar {
    display: flex;
    padding-right: 0.2%;
    justify-content: end;
}

#postwidget {
    display: flex;
    /*justify-content: center;*/
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
}

#postlist {
    padding: 3%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

#postlist img { 
    max-width: 100%;
}

#postcategorywidget {
    width: 15%;
    height: 30%;
    background-color: white;
    border-radius: 20px;
}

#postcategorylist {
    height: auto;
    font-size: 17px;
    text-align: center;
    padding: 3%;
}

#postcategorylist:hover {
    cursor: pointer;
    animation: alternate;
    background-color: lightgray;
    border-radius: 20px;
}

#postcategorylist_depth {
    height: auto;
    font-size: 17px;
    text-align: center;
    text-indent: 20px;
    padding: 3%;
}

#postcategorylist_depth:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 20px;
}